@model HsoPkipt.ViewModels.LoginVM;

@{
  ViewBag.Title = "Вход";
}

<main class="auth">
  <div class="wrapper">
    <div class="description">
      <h2>Авторизация</h2>
    </div>
    <form asp-action="Login" asp-controller="Auth" method="post" class="form_component">
      @Html.AntiForgeryToken()
      <div asp-validation-summary="ModelOnly" class="error_message_form"></div>
      <div class="input-block">
        <div class="email-block">
          <label asp-for="Email"></label>
          <input asp-for="Email" id="email" type="text" required />
          <span asp-validation-for="Email"></span>
        </div>
        <div class="password-block">
          <div class="password label">
            <label asp-for="Password">Пароль</label>
            <a class="forgot" href="@Url.Action("Register", "Auth")">Забыл?</a>
          </div>
          <div class="password input">
            <input data-inc="password" asp-for="Password" id="password" type="password" required minlength="8" />
            <button class="eye close" data-fn="visible__password"></button>
          </div>
          <span asp-validation-for="Password"></span>
        </div>
        <div class="checkbox_rm-block">
          <label asp-for="RememberMe" hover>
            <input asp-for="RememberMe" type="checkbox">
            <span>Запомнить меня</span>
          </label>
        </div>
      </div>
      <button type="submit" class="submit">Войти</button>
      <div class="register">
        <h3>Хочешь вступить в отряды? <a href="@Url.Action("Register", "Auth")">Тебе сюда!</a></h3>
      </div>
    </form>
  </div>
</main>