@model HsoPkipt.ViewModels.RegisterVM;

@{
  ViewBag.Title = "Регистрация";
}

<form asp-action="Register" asp-controller="Auth" method="post" class="form_controller">
  @Html.AntiForgeryToken()

  <div class="description">
    <h2>Регистрируйся!</h2>
    <h3>Уже есть аккаунт?<a href="@Url.Action("Login", "Auth")" data-style="link" login hover>Войти</a></h3>
  </div>
  <div asp-validation-summary="All" class="error_message_form"></div>
  <div class="input_block">
    <div class="names-block">
      <span asp-validation-for="UserName"></span>
      <label asp-for="UserName">Имя пользователя</label>
      <input asp-for="UserName" id="names" type="text" required hover>
    </div>
    <div class="email-block not_margin_top">
      <span asp-validation-for="Email" class="not_margin_top"></span>
      <label asp-for="Email">Email</label>
      <input asp-for="Email" id="email" type="email" required hover>
    </div>
    <div class="password-block">
      <span asp-validation-for="Password"></span>
      <label asp-for="Password" for="password">Пароль</label>
      <input asp-for="Password" name="password" id="password" type="password" required hover
        autocomplete="new-password">
    </div>
    <div class="confirm_password-block">
      <span asp-validation-for="ConfirmPassword"></span>
      <label asp-for="ConfirmPassword">Подтверждение пароля</label>
      <input asp-for="ConfirmPassword" id="confirm_password" type="password" required hover autocomplete="new-password">
    </div>
    <div class="req_checkbox_pp-block cb-container">
      <span asp-validation-for="TermOfService"></span>
            <label asp-for="TermOfService" class="form-check-label" hover>
                <input asp-for="TermOfService" type="checkbox" hover>
        <span>
          Я принимаю условия <a href="@Url.Action("License", "Documents")" hover data-style="link">Лицензионного
            соглашения</a>, <br>
          <a href="@Url.Action("Privacy", "Documents")" data-style="link" hover>Политики конфиденциальности</a> и даю
          согласие на обработку данных.
        </span>
      </label>
    </div>
  </div>
  <button type="submit" data-style="hyper-button" hover>Зарегистрироваться</button>
</form>