@{
    ViewData["Title"] = "Редактирование новостей";
}

<h1>Управление новостями</h1>

<ul>
    <li><a asp-controller="AdminNews" asp-action="Create">Создать новость</a></li>
    <li><a asp-controller="AdminNews" asp-action="Index">Список новостей</a></li>
</ul>

<p>
    <a asp-controller="Admin" asp-action="Index">Назад</a>
</p>