@{
    ViewData["Title"] = "Управление проектами";
}

<h1>Управление проектами</h1>

<ul>
    <li>
        <a asp-controller="AdminProjects" asp-action="Index">Список проектов</a>
    </li>
    <li>
        <a asp-controller="AdminProjects" asp-action="Create">Создать проект</a>
    </li>
</ul>

<p>
    <a asp-controller="Admin" asp-action="Index">Назад</a>
</p>