<nav class="__container">
    <section class="managers">
        <div class="content">
            <p class="role">Руководитель (командир) ШСО ПКИПТ:</p>
            <p class="full-name">Павлов Павел Павлович</p>
            <p class="tel">8 (986) 777-88-66</p>
        </div>
        <div class="content">
            <p class="role">Заместитель руководителя (комиссар) ШСО ПКИПТ:</p>
            <p class="full-name">Антонов Антон Антонович</p>
            <p class="tel">8 (986) 888-66-77</p>
        </div>
    </section>
    <address class="about">
        <div class="top">
            <p class="address">Адресс: г. Пенза, пр. Строителей д. 7</p>
            <p class="mail">Почта: <a href="mailto:SHO_PKIPT@gmail.com" class="email">SHO_PKIPT@gmail.com</a></p>
            <p class="site-it">Сайт колледжа: <a class="site" href="https://ит-колледж.рф/it/">https://ит-колледж.рф/it/</a></p>
        </div>
        <div class="contacts">
            <a href="" class="vk"></a>
            <a href="" class="tg"></a>
        </div>
    </address>
    <section class="logo">
        <a href="@Url.Action("", "")" class="vertical-logo"></a>
    </section>
</nav>