<!DOCTYPE html>
<html lang="ru-RU" scss color>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ШСО ПКИПТ</title>
    <link rel="stylesheet" href="~/css/root.css">
    <link rel="stylesheet" href="~/css/assemble.css">
    <link rel="stylesheet" href="~/css/param.css">
    <partial name="_ModalWindowJoinUs" />
    @await RenderSectionAsync("Styles", required: false)
</head>

<body>
    <header class="component">
        <partial name="_Header" />
    </header>
    @RenderBody()
    <footer class="component">
        <partial name="_Footer" />
    </footer>
    <script src="~/js/effect/layout.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
