@{
  ViewData["Title"] = "Магазин";
}

<main class="store-page">
  <section class="banner">
    <img src="~/assets/icon/err.no-image.svg" alt="#">
  </section>
  <section class="store">
    <div class="__container">
      <aside class="filter">
        <div class="top-block">
          <form class="search">
            <input type="search" name="product" id="product-search" placeholder="Поиск...">
            <button type="submit" class="search-button"></button>
          </form>
          <button class="cart"></button>
        </div>
        <div class="filters">
          <div class="group-filter active">
            <button class="open-group-filter">Одежда</button>
            <button class="filter-name active">Футболки</button>
            <button class="filter-name">Свитшоты</button>
            <button class="filter-name">Худи</button>
          </div>
          <div class="group-filter">
            <button class="open-group-filter">Одежда</button>
            <button class="filter-name ">Футболки</button>
            <button class="filter-name">Свитшоты</button>
            <button class="filter-name">Худи</button>
          </div>
          <div class="group-filter">
            <button class="open-group-filter">Одежда</button>
            <button class="filter-name ">Футболки</button>
            <button class="filter-name">Свитшоты</button>
            <button class="filter-name">Худи</button>
          </div>
        </div>
      </aside>
      <div class="items">
        <article class="item">
          <div class="img-container">
            <img src="~/assets/icon/err.no-image.svg" alt="#">
            <div class="button-controller">
              <button class="arrow-prev"></button>
              <button class="arrow-next"></button>
            </div>
            <div class="line-pagination">
              <button class="active"></button>
              <button></button>
              <button></button>
            </div>
          </div>
          <div class="controller">
            <p class="title">Text</p>
            <div class="btn-container">
              <button class="favorite"></button>
              <button class="add"></button>
            </div>
          </div>
        </article>
        <article class="item">
          <div class="img-container">
            <img src="~/assets/icon/err.no-image.svg" alt="#">
            <div class="button-controller">
              <button class="arrow-prev"></button>
              <button class="arrow-next"></button>
            </div>
            <div class="line-pagination">
              <button class="active"></button>
              <button></button>
              <button></button>
            </div>
          </div>
          <div class="controller">
            <p class="title">Text</p>
            <div class="btn-container">
              <button class="favorite active"></button>
              <button class="add"></button>
            </div>
          </div>
        </article>
        <article class="item">
          <div class="img-container">
            <img src="~/assets/icon/err.no-image.svg" alt="#">
            <div class="button-controller">
              <button class="arrow-prev"></button>
              <button class="arrow-next"></button>
            </div>
            <div class="line-pagination">
              <button class="active"></button>
              <button></button>
              <button></button>
            </div>
          </div>
          <div class="controller">
            <p class="title">Text</p>
            <div class="btn-container">
              <button class="favorite"></button>
              <button class="add"></button>
            </div>
          </div>
        </article>
      </div>
    </div>
  </section>
</main>