.admin-form__img-preview.merch {
    width: 100%;
    max-width: 300px;
    max-height: 300px;
    object-fit: cover;
    border-radius: 8px;
    border: 2px solid rgba(65, 36, 92, 0.1);
    display: none;

    &.visible {
        display: block;
    }
}