main.home {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .__container {
    margin-top: 60px;
    max-width: 1440px;
    padding-inline: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;

    .banner {
      max-width: 1400px;
      margin-inline: auto;
      width: 100%;
      display: flex;
      align-items: center;
      gap: 15px;
      flex-wrap: wrap;
      justify-content: space-between;

      .img {
        width: 65vw;
        aspect-ratio: 1/2;
        max-width: 1025px;
        min-width: 300px;
        max-height: 515px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(../../assets/img/foto_1.png);
        position: relative;

        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: var(--shadow-reco);
        }

        .title {
          z-index: 1;
          font-weight: var(--fz-smbold);
          font-size: calc(var(--fz-h1) * 0.8);
          color: var(--theme-color);
        }
      }

      button.btn {
        background-color: var(--second-color);
        color: var(--theme-color);
        font-weight: var(--fz-smbold);
        padding: 15px 30px;
        display: inline-flex;
        font-size: var(--fz-h3);
        transition: var(--t-time);

        &:hover {
          background-color: var(--second-color-hover);
        }
      }
    }

    .description {
      margin-top: 50px;
      font-size: calc(var(--fz-h1) * 0.9);
      font-weight: var(--fw-medium);
    }

    .news-block {
      position: relative;
      max-width: 1400px;
      margin: 100px auto;
    }

    .wrapper-slide {
      overflow: hidden;
    }

    .track {
      display: flex;
      gap: 50px;
      transition: transform 0.5s ease;
    }

    .card-news {
      flex: 0 0 calc(50% - 25px);
      overflow: hidden;
      position: relative;

      .title {
        padding: 10px;
        font-weight: var(--fw-bold);
        position: absolute;
        width: var(--news-shadow-size);
        height: 100%;
        top: 0;
        right: 0;
        transform: translateX(0%);
        transition: 0.5s ease;
        color: var(--accent-color);
        background-color: var(--shadow-news);
      }

      &:hover {
        .title {
          transform: translateX(100%);
        }
      }
    }

    .card-news img {
      width: 100%;
      height: 320px;
      object-fit: cover;
    }

    .arrow-controller {
      position: absolute;
      top: 0;
      height: 100%;
      width: 40px;
      font-size: 48px;
      background: none;
      border: none;
      cursor: pointer;
      z-index: 5;

      &.prev {
        left: -50px;
      }
      &.next {
        right: -50px;
      }

      &:disabled {
        opacity: 0.3;
        cursor: default;
      }
    }
  }
}
