@using HsoPkipt.ViewModels.News
@model IEnumerable<NewsItemVM>

@{
    ViewData["Title"] = "Главная страница";
}

<main class="home">
    <div class="__container">
        <div class="banner">
            <div class="img">
                <h1 class="title">Вступай в лучшие объединения города!</h1>
            </div>
            <button class="btn">
                Подать заявку!
            </button>
        </div>
        <h2 class="description">
            Студенчсеские отряды ИТ–колледжа начались с Студенческого педагогического отряда “Созвездие” появившегося 26
            января 2016 года. Текст…
        </h2>
        <div class="news-block">
            <button class="arrow-controller prev" data-fn="slide-prev">‹</button>

            <div class="wrapper-slide">
                <div class="track">
                    @if (Model != null && Model.Any())
                    {
                        foreach (var news in Model)
                        {
                            <div class="card-news">
                                <img src="@(news.ImageUrl ?? Url.Content("~/img/foto_2.png"))" alt="@news.Title">
                                <p class="title">@news.Title</p>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="card-news">
                            <img src="~/assets/img/err.best_news_home.png">
                            <p class="title">Скоро здесь появятся новости</p>
                        </div>

                        <div class="card-news">
                            <img src="~/assets/img/err.best_news_home.png">
                            <p class="title">Следите за обновлениями</p>
                        </div>
                    }
                </div>
            </div>

            <button class="arrow-controller next" data-fn="slide-next">›</button>
        </div>
    </div>
</main>

@section Scripts {
    <script src="@(Url.Content("~/js/slider-function.js"))"></script>
}