header.component {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: var(--accent-color);
  padding-block: 10px;

  .__container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    max-width: var(--container-size);
    width: 100%;
    justify-content: space-between;
    align-items: center;

    a.horizontal-logo {
      width: var(--logo-horizontal-size);
      height: var(--logo-vertical-size);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url(../assets/icon/logo.png);
      transition: var(--t-time);
      transform: var(--default);

      &:hover {
        transform: var(--hover);
      }
    }

    .center {
      display: flex;
      flex-wrap: wrap;
      width: calc(100% - var(--logo-horizontal-size) - 30px - 77px);
      justify-content: space-around;
      align-items: center;

      .link {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: var(--theme-color);
        font-weight: var(--fw-smbold);
        position: relative;
        transition: var(--t-time);
        transform: var(--default);

        &:hover {
          transform: var(--hover);
        }
      }

      .line {
        display: inline-block;
        width: 2px;
        border-radius: 15px;
        height: 40px;
        background-color: var(--theme-color);
      }
    }

    .profile {
      width: 77px;
      height: 77px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url(../assets/icon/profile.svg);
      transition: var(--t-time);
      transform: var(--default);

      &:hover {
        transform: var(--hover);
      }
    }
  }
}

footer.component {
  display: flex;
  width: 100%;
  background: var(--accent-color);
  justify-content: center;
  align-items: center;

  .__container {
    max-width: 1440px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;

    .managers {
      display: flex;
      flex-direction: column;

      .content {
        display: flex;
        flex-direction: column;
        gap: 2px;
        p {
          font-size: var(--fz-text);
          font-weight: var(--fw-smbold);
          color: var(--theme-color);
        }
        &:last-child {
          margin-top: 15px;
        }
      }
    }
    address.about {
      display: flex;
      flex-direction: column;
      height: 162px;
      justify-content: space-between;
      .top {
        display: flex;
        flex-direction: column;
        gap: 2px;
        p {
          font-size: var(--fz-text);
          font-weight: var(--fw-smbold);
          font-style: normal;
          color: var(--theme-color);

          a {
            font-size: var(--fz-text);
            font-weight: var(--fw-smbold);
            font-style: normal;
            color: var(--theme-color);
          }
        }
      }
      .contacts {
        display: flex;
        gap: 30px;
        a {
          display: inline-block;
          width: var(--fz-h2);
          height: var(--fz-h2);
          mask-position: center;
          mask-repeat: no-repeat;
          mask-size: contain;
          background-color: var(--theme-color);
        }

        a.vk {
          mask-image: url(../assets/icon/vk.svg);
        }

        a.tg {
          mask-image: url(../assets/icon/tg.svg);
        }
      }
    }
    .logo {
      overflow: hidden;
      display: flex;

      .vertical-logo {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url(../assets/icon/vertical-logo.png);
        width: 230px;
        height: 300px;
      }
    }
  }
}
