@font-face {
  font-family: 'Montserrat-origin__HSO';
  src: url('../assets/fonts/Montserrat-VariableFont_wght.ttf') format('ttf');
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-origin__HSO';
  src: url('../assets/fonts/Montserrat-Italic-VariableFont_wght.ttf') format('ttf');
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  * {
    color: var(--accent-color);
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: var(--fz-text);
    cursor: default;
  }
}

h1 {
  font-size: var(--fz-h1);
}

h2 {
  font-size: var(--fz-h2);
}

h3 {
  font-size: var(--fz-h3);
}

h4 {
  font-size: var(--fz-h4);
}

p, button, a, span {
  font-size: var(--fz-p);
}

button, a {
  text-decoration: none;
  cursor: pointer;
  background: none;
  border: none;
}

input {
  font-weight: 400;
  font-size: var(--fz-p);
  cursor: text;
}