@font-face {
  font-family: 'Montserrat-origin__HSO';
  src: url('../assets/fonts/Montserrat-VariableFont_wght.ttf') format('ttf');
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-origin__HSO';
  src: url('../assets/fonts/Montserrat-Italic-VariableFont_wght.ttf') format('ttf');
  font-style: italic;
}

body {
  * {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: var(--fz-p);
  }
}