html[scss] {
  --fz-text: 20px;
  --fz-h1: 48px;
  --fz-h2: 36px;
  --fz-h3: 28px;
  --fz-h4: 22px;

  --container-size: 1440px;
  --logo-horizontal-size: 360px;
  --logo-vertical-size: 120px;

  --t-time: 0.3s ease;
  --hover: translateY(-3px);
  --default: translateY(0px);

  --fw-medium: 500;
  --fw-smbold: 600;
  --fw-bold: 700;

  --shadow-reco: #41245c66;

  --news-shadow-size: 70%;
  --news-size: 675px;
}

html[color] {
  --theme-color: #FFFFFF;
  --accent-color: #41245C;
  --second-color: #F9BB8A;
  --second-color-hover: #f69c57;
}