html[scss] {
  --fz-text: 16px;
  --fz-h1: 36px;
  --fz-h2: 36px;
  --fz-h3: 28px;
  --fz-h4: 22px;

  --container-size: 1440px;
  --logo-horizontal-size: 231px;
  --logo-vertical-size: 78px;

  --t-time: 0.3s ease;
  --hover: translateY(-3px);
  --default: translateY(0px);

  --fw-medium: 500;
  --fw-smbold: 600;
  --fw-bold: 700;

  --shadow-reco: #41245c66;
  --shadow-news: #ffffffe6;
  --shadow-news-err: #ffffff9e;

  --news-shadow-size: 70%;
}

html[color] {
  --theme-color: #FFFFFF;
  --accent-color: #41245C;
  --second-color: #F9BB8A;
  --mute-color: #B4C3C8;
  --second-color-hover: #f69c57;
}